.menu-item {
  display: block;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.link {
  font-family: 'Roboto, "Helvetica Neue", sans-serif';
  color: #00135f;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.link:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: #00135f;
}
